<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Comptible" content="ie=edge">
    <link rel="stylesheet" href="css/homepage.css">
    <title>Home Page</title>
</head>
<body>
    
    <div class="h1" >
    <!-- style="padding: 16px 32px 32px 32px;"> -->
    <h1>Welcome <%= username %> to CoE Competency improvement program</h1>
    <div class="a" >
    <!-- style="text-align-last: right;font-size: x-large;"> -->
        <a href="">Suggest a course</a>
        <br>
        <a href="">Browse course</a>
        <hr>
    </div>  
</div>
</body>
</html>